<header>
  <div id="myCarousel" class="carousel my-carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item my-carousel-item active">
        <svg class="bg-5" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        </svg>
        <div class="container">
          <div class="carousel-caption my-carousel-caption text-center">
            <p class="h1">Juegos de terror</p>
            <p>Sumerguete en un mundo de pesadillas y horrores.</p>
            <p><a class="btn btn-lg btn-primary" href="/api/PlayerZone/user/login">Ir a la pagina.</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item my-carousel-item">
        <svg class="bg-3" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">

        </svg>
        <div class="container">
          <div class="carousel-caption my-carousel-caption">
            <p class="h1">Video Juegos Para Niños.</p>
            <p>Dale un buen regalo a tus hijos.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ir a la pagina.</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item my-carousel-item">
        <svg class="bg-6" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        </svg>
        <div class="container">
          <div class="carousel-caption text-center my-carousel-caption">
            <p class="h1">Videojuegos de disparo en primera persona.</p>
            <p>Prueba tus reflejos con esta categoria de Juegos.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ir a la pagina.</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item my-carousel-item">
        <svg class="bg-7" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        </svg>
        <div class="container">
          <div class="carousel-caption text-center my-carousel-caption">
            <p class="h1">Videojuegos arcade.</p>
            <p>Prueba tus reflejos con esta categoria de Juegos.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ir a la pagina.</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item my-carousel-item">
        <svg class="bg-8" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        </svg>
        <div class="container">
          <div class="carousel-caption text-center my-carousel-caption">
            <p class="h1">Videojuegos Free to Play.</p>
            <p>Los mejores juegos gratuitos.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ir a la pagina.</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<section>
  <div class="container">
    <div class="row pt-xl-5 pt-3">
      <div class="col-12">
        <span class="fs-1">
          <i class="fa-sharp fa-solid fa-crown d-none d-xl-inline"></i>
          Juegos mas destacados de la temporada.
          <i class="fa-sharp fa-solid fa-crown d-block d-xl-inline"></i>
        </span>
      </div>
    </div>

    <div class="row rounded">
      <div class="col-10 offset-1 rounded mt-4 mb-4">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active p-4" data-bs-interval="10000">
              <div class="row d-lg-flex d-none align-items-center">
                <div class="col-5 offset-1">
                  <img src="/img/dead cells.jpeg" class="img-fluid w-75 rounded mx-auto"
                    alt="Error al cargar la imagen.">
                </div>
                <div class="col-5 bg-dark text-white rounded opacity-50 fs-4">
                  <p>Juego: </p>
                  <p>Desarrollado por: </p>
                  <p>Precio:</p>
                  <p>Genero: </p>
                  <a href="" class="btn btn-primary">Descripción.</a>
                </div>
              </div>
              <div class="row d-lg-none d-block align-items-center">
                <div class="col-12">
                  <img src="/img/dead cells.jpeg" class="img-fluid w-50 rounded mx-auto"
                    alt="Error al cargar la imagen.">
                  <a href="" class="btn btn-primary m-1">Descripción.</a>
                </div>
              </div>
            </div>
            <div class="carousel-item p-4" data-bs-interval="10000">
              <div class="row d-lg-flex d-none align-items-center">
                <div class="col-5 offset-1">
                  <img src="/img/halo the collection.jpeg" class="img-fluid w-75 rounded mx-auto"
                    alt="Error al cargar la imagen.">
                </div>
                <div class="col-5 bg-dark text-white rounded opacity-50 fs-4">
                  <p>Juego: </p>
                  <p>Desarrollado por: </p>
                  <p>Precio:</p>
                  <p>Genero: </p>
                  <a href="" class="btn btn-primary">Descripción.</a>
                </div>
              </div>
              <div class="row d-lg-none align-items-center">
                <div class="col-12">
                  <img src="/img/halo the collection.jpeg" class="img-fluid w-50 rounded mx-auto"
                    alt="Error al cargar la imagen.">
                  <a href="" class="btn btn-primary m-1">Descripción.</a>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark opacity-50 rounded" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark opacity-50 rounded" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-4">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/img/image1.jpg" class="rounded img-fluid" data-anijs="if: mouseover, do: pulse animated">
          <div id="card-body-1" class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" title="comprar."><i
                    class="fa-solid fa-money-check-dollar"></i></a>
                <a type="button" class="btn btn-sm btn-outline-secondary" title="agregar al carrito."><i
                    class="fa-solid fa-cart-shopping"></i></a>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/img/image2.jpg" class="rounded" data-anijs="if: mouseover,do: pulse animated">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" title="comprar."><i
                    class="fa-solid fa-money-check-dollar"></i></a>
                <a type="button" class="btn btn-sm btn-outline-secondary" title="agregar al carrito."><i
                    class="fa-solid fa-cart-shopping"></i></a>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/img/image3.jpg" class="rounded" data-anijs="if: mouseover,do: pulse animated">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" title="comprar."><i
                    class="fa-solid fa-money-check-dollar"></i></a>
                <a type="button" class="btn btn-sm btn-outline-secondary" title="agregar al carrito."><i
                    class="fa-solid fa-cart-shopping"></i></a>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/img/image4.jpg" class="rounded" data-anijs="if: mouseover,do: pulse animated">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" title="comprar."><i
                    class="fa-solid fa-money-check-dollar"></i></a>
                <a type="button" class="btn btn-sm btn-outline-secondary" title="agregar al carrito."><i
                    class="fa-solid fa-cart-shopping"></i></a>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/img/image5.jpg" class="rounded" data-anijs="if: mouseover,do: pulse animated">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" title="comprar."><i
                    class="fa-solid fa-money-check-dollar"></i></a>
                <a type="button" class="btn btn-sm btn-outline-secondary" title="agregar al carrito."><i
                    class="fa-solid fa-cart-shopping"></i></a>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/img/image6.jpg" class="rounded" data-anijs="if: mouseover,do: pulse animated">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" title="comprar."><i
                    class="fa-solid fa-money-check-dollar"></i></a>
                <a type="button" class="btn btn-sm btn-outline-secondary" title="agregar al carrito."><i
                    class="fa-solid fa-cart-shopping"></i></a>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>