<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 mt-5">
        <div class="card">
          <div class="card-body text-center h1">
            <header>
              <span class="text-center h1">
                Cartera electornica
              </span>
            </header>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-5">
      <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 border-primary">
            <h4 class="my-0 fw-normal">Tarjeta electronica:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">.00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Por comprar esta tarjeta</li>
              <li>se agregaran 5pt.</li>
              <li>A tu cuenta de Player Zone.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">comprar</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 border-primary">
            <h4 class="my-0 fw-normal">Tarjeta electronica:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$50<small class="text-muted fw-light">.00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Por comprar esta tarjeta</li>
              <li>se agregaran 10pt.</li>
              <li>A tu cuenta de Player Zone.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">comprar</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 border-primary">
            <h4 class="my-0 fw-normal">Tarjeta electronica:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$100<small class="text-muted fw-light">.00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Por comprar esta tarjeta</li>
              <li>se agregaran 15pt.</li>
              <li>A tu cuenta de Player Zone.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-5">
      <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 border-primary">
            <h4 class="my-0 fw-normal">Tarjeta electronica:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$150<small class="text-muted fw-light">.00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Por comprar esta tarjeta</li>
              <li>se agregaran 20pt.</li>
              <li>A tu cuenta de Player Zone.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">comprar</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 border-primary">
            <h4 class="my-0 fw-normal">Tarjeta electronica:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$200<small class="text-muted fw-light">.00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Por comprar esta tarjeta</li>
              <li>se agregaran 25pt.</li>
              <li>A tu cuenta de Player Zone.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">comprar</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 border-primary">
            <h4 class="my-0 fw-normal">Tarjeta electronica:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$300<small class="text-muted fw-light">.00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Por comprar esta tarjeta</li>
              <li>se agregaran 30pt.</li>
              <li>A tu cuenta de Player Zone.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">comprar</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>