<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <header>
          <p class="mt-5 h1">PLAYERS ZONE</p>
          <p class="text-danger h2">Tienda online de Video Juegos</p>
        </header>
      </div>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <div class="card  shadow-lg">
          <div class="card-body">
            <img src="/img/logomisa.png" class="figure-img img-fluid">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row ">
          <p class="h3 mt-5"><span class="vignette">1</span>Misión:</p>
          <p class="pagrhap-size text-justify">PLAYERS ZONE trabaja sin descanso para proporcionar la mejor
            experiencia
            de entretenimiento, escuchando activamente las diferentes
            expectativas de los clientes, tratándolos con esmero, cortesía y honestidad, y ofreciendo
            excelentes
            productos y servicios (trabajamos en juegos excelentes, con gente excelente, para personas
            excelentes).
            Y de esta forma, devolver al público adulto las ganas de JUGAR..
          </p>
        </div>
        <div class="row mt-4">
          <p class="h3 mt-2"><span class="vignette">2</span>Visión:</p>
          <p class="pagrhap-size text-justify">Ser una empresa líder en el sector del ocio, centrando nuestros
            esfuerzos en la innovación y en la excelencia, tanto en la calidad del
            servicio como en la atención al cliente. Ofrecer diversión, emoción y sensaciones con la mejor y
            más
            variada oferta de juego..
          </p>
        </div>
      </div>
    </div>
    <div class=" bg-secondary rounded mt-5 shadow-lg p-1 mb-5 bg-body-tertiary">
      <div class="row mt-4">
        <span class="h2 text-white">Sitio desarrollado con:</span>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-md-3">
          <figure>
            <img src="/img/bootstrap.jpg" class="figure-img img-fluid border border-5">
            <figcaption>Bootstrap 5</figcaption>
          </figure>
        </div>
        <div class="col-md-3">
          <figure>
            <img src="/img/Nodejs logo.jpg" class="figure-img img-fluid border border-5">
            <figcaption>Node JS</figcaption>
          </figure>
        </div>
        <div class="col-md-3">
          <figure>
            <img src="/img/express-copia.png" class="figure-img img-fluid border border-5">
            <figcaption>Express de Node Js</figcaption>
          </figure>
        </div>
        <div class="col-md-3">
          <figure>
            <img src="/img/mysql.png" class="figure-img img-fluid border border-5">
            <figcaption>MySql</figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="text-white">
      <div class="row"><span class="h2  text-danger">Desarrollado por:</span></div>
      <div class="row g-5 align-items-center mt-md-2">
        <div class="col-lg-7 ">
          <div class="row bg-danger rounded shadow-lg p px-3">
            <div class="col-lg-4">
              <figure>
                <img src="/img/Mifoto.jpg" class="figure-img img-fluid rounded-circle border border-3 mt-2">
                <figcaption>Angel Misael Uscanga Lopez</figcaption>
              </figure>
            </div>
            <div class="col-lg-8 mt-5">
              <p class="text-justify">
                Soy un programador que quiere iniciarse en la industria del
                software con conocimientos en: Frontend y Backend utilizando
                framework para mejorar la producción de estas, para el CSS
                utilizo Bootsrat como framework de diseño. Con conocimientos
                intermedios en bases de datos empleando MySQL y conocimientos básicos
                empleando MongoDB. Para desarrollar aplicaciones de escritorio utilizo
                Java como lenguaje de programación.
              </p>
            </div>
          </div>

        </div>
        <div class="col-lg-5">
          <div class="row align-items-center bg-danger rounded shadow-lg p px-3">
            <div class="col-lg-4">
              <figure>
                <img src="/img/ittux.png" class="figure-img img-fluid rounded-circle border border-3 mt-2">
                <figcaption>TecNologico Nacional de Mexico</figcaption>
              </figure>
            </div>
            <div class="col-lg-8 mt-2">
              <p class="text-justify">
                Ser una institución de educación superior de excelencia con valores,
                basada en el liderazgo educativo de alta calidad, que contribuya al
                desarrollo sostenido, sustentable y equitativo de la nación.!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>