<div class="bg-1 text-center">
  <div class="row">
      <div class="col-12  text-white">
        <span class=" m-2 fs-1 d-block fw-bold">¿Te crees lo suficientemente bueno en los videojuegos?</span>
        <span class=" m-2 fs-2 d-block fw-bold">Se parte de algunos de nuestros equipos Pro-Gaming.</span>
      </div>
  </div>
  <div class="row ">
    <div class="col">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active p-4">
          <img src="/img/Grupo-1.png" class="d-block w-25 rounded mx-auto shadow-lg" alt="...">
        </div>
        <div class="carousel-item p-4">
          <img src="/img/Grupo-2.png" class="d-block w-25 rounded mx-auto shadow-lg" alt="...">
        </div>
        <div class="carousel-item p-4">
          <img src="/img/Grupo-3.png" class="d-block w-25 rounded mx-auto shadow-lg" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
</div>
