<div class="col-lg-6 offset-lg-3  card">
    <div class="card">
      <div class="card-body">
        <p class="h1 text-center text-title">
            Lo sentimos, usario no encontrado &#128517; .
        </p>
      </div>
    </div>
  </div>