<div class="container-fluid">
  <a class="navbar-brand" href="/api/players-zone/store/home">Home
    <img src="/img/player-zone.jpg" class="img-fluid icon rounded">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item ms-3">
        <a class="nav-link" href="/api/players-zone/client/login">Iniciar Sección</a>
      </li>
      <li class="nav-item ms-3">
        <div class="nav-link dropdown">
          Categorias <i class="fa-solid fa-gamepad"></i>
          <div class="dropdown-content rounded border border-4">
            <div class="row">
              <div class="col-lg-12">
                <a class="nav-item text-center rounded dropdown-item">Shooter</a>
                <a class="nav-item text-center rounded dropdown-item">Terror</a>
                <a class="nav-item text-center rounded dropdown-item">Arcade</a>
                <a class="nav-item text-center rounded dropdown-item">Free to play</a>
                <a class="nav-item text-center rounded dropdown-item">Juegos AAA</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="/api/players-zone/client/discount">Promosiones</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="/api/players-zone/client/electronicwallet">Cartera Electronica</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" href="/api/players-zone/store/info">Sobre nosotros</a>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>